body {
    margin: 0;
}

.main {
    display: flex;
    position: fixed;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

section#messages {
    flex-grow: 1;
}

section.inputs {
    flex-shrink: 0;
    height: 55px;
    display: flex;
    width: 100%;
}

section.inputs {}

input[type="text"] {
    width: 100%;
}

input[type="button"] {
    width: 110px;
}